{# social list #}
<ul class="social">
	{% set links = [
		{
			text: 'X',
			label: 'X'
		}, {
			text: 'li',
			label: 'linkedin'
		}, {
			text: 'fb',
			label: 'facebook'
		}
	] %}
	{% for link in links %}
		<li class="social__item">
			<a href="#" class="bt-icon" aria-label="link to social network {{link.label}}">{{link.text}}</a>
		</li>
	{% endfor %}
</ul>