@use "../vars/vars" as *;
@use "../mixins/breakpoints" as *;
@use "../mixins/resources" as *;

.fullscreen {
	min-height: 100vh;
	min-height: 100dvh;
	padding-top: 108px;
	display: flex;
	position: relative;
	overflow: hidden;
	transition: min-height 0.2s linear;
	&.page--anim {
		@include breakpoint($mobile) {
			min-height: unset;
		}
	}
	// .fullscreen__bg

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(221, 184, 184, 0) 0%, $black 100%);
			z-index: 1;
		}
	}

	// .fullscreen__container

	&__container {
		flex: 1 1 auto;
		display: flex;
	}

	// .fullscreen__body

	&__body {
		flex: 1 1 auto;
		gap: 24px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	// .fullscreen__head{}

	&__head {
		margin-left: 105px;
		flex-grow: 1;
		display: flex;
		align-items: center;
		@include adaptiv-value-to(max-width, 695, 375, $mobile);
		@include breakpoint($mobile) {
			margin-left: 0;
			flex-direction: column;
			justify-content: center;
		}
	}

	// .fullscreen__title

	&__title {
	}

	// .fullscreen__row

	&__row {
		display: flex;
		align-items: center;
		@include breakpoint($mobile) {
			gap: 16px;
			justify-content: space-between;
		}
	}

	// .fullscreen__wrap

	&__wrap {
		display: grid;
		gap: 9px;
	}

	// .fullscreen__logo

	&__logo {
		img {
			width: 100%;
			height: 26px;
		}
	}

	// .fullscreen__text

	&__text {
		flex: 0 1 325px;
		font-weight: 500;
		margin-left: auto;
		@include adaptiv-value-to(margin-right, 210, 16, $mobile);
		@include breakpoint($mobile) {
			display: none;
		}
		&--sm {
			display: none;
			@include breakpoint($mobile) {
				display: block;
				margin: 24px 0px 0px 0px;
				font-size: 14px;
				line-height: 120%;
				flex-basis: auto;
			}
		}
	}
}
.anim {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	// .anim__body

	&__body {
		flex-grow: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	// .anim__titles

	&__titles {
		text-align: center;
		overflow: hidden;
		position: relative;
		margin: 64px 0;
		@include breakpoint($mobile) {
			margin: 24px 0;
		}
		&.active {
			.anim__title {
				&:first-child {
					opacity: 0;
					transform: translateY(150%);
				}
				&:last-child {
					opacity: 1;
				}
			}
			.anim__title--anim {
				opacity: 1;
				transform: translateX(-50%) scale(1);
			}
		}
	}

	// .anim__title

	&__title {
		--color: #3f3f3f;
		color: var(--color);
		transition: all 0.5s ease 0s;
		&--anim {
			width: 100%;
			position: absolute;
			left: 50%;
			top: 0;
			height: 100%;
			transform: translateX(-50%) scale(0.5);
			opacity: 0;
		}
	}

	// .anim__cards

	&__cards {
		margin: 0 auto;
		display: flex;
		gap: 64px;
		@include adaptiv-value-to(gap, 64, 13, $mobile);
	}
}
