@charset "UTF-8";

:root {
  --fr-font-famaly: InterDisplay, sans-serif;
  --fr-font-size: 16px;
  --fr-main-lh: 120%;
  --fr-min-width: 320;
  --fr-max-width: 1440;
  --fr-max-width-container: 1360;
  --fr-black: #000000;
  --fr-gray-600: #727272;
  --fr-gray-700: #3b3b3b;
  --fr-gray-800: #2c2c2c;
  --fr-gray-900: #171717;
  --fr-white: #ffffff;
  --fr-black-rgb: 0, 0, 0;
  --fr-white-rgb: 255, 255, 255;
  --fr-green: #00e56d;
  --fr-primary: #00e56d;
  --fr-main-color: #ffffff;
  --fr-bg-body: #000000;
  --fr-bt-ipt-height: 44px;
  --fr-bt-ipt-padding-y: 16px;
  --fr-bt-ipt-padding-x: 24px;
  --fr-bt-ipt-rounded: 999px;
}

@font-face {
  font-family: InterDisplay;
  font-display: swap;
  src: url("../fonts/InterDisplay-Regular.woff2") format("woff2"), url("../fonts/InterDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: InterDisplay;
  font-display: swap;
  src: url("../fonts/InterDisplay-Medium.woff2") format("woff2"), url("../fonts/InterDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: InterDisplay;
  font-display: swap;
  src: url("../fonts/InterDisplay-SemiBold.woff2") format("woff2"), url("../fonts/InterDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: InterDisplay;
  font-display: swap;
  src: url("../fonts/InterDisplay-Bold.woff2") format("woff2"), url("../fonts/InterDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: calc(var(--fr-min-width) * 1px);
}

body {
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: var(--fr-font-famaly);
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  width: 100%;
  max-width: calc(var(--fr-max-width-container) * 1px + 80px);
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.container-fluid {
  max-width: unset;
}

body {
  font-family: var(--fr-font-famaly);
  font-size: var(--fr-font-size);
  background-color: var(--fr-bg-body);
  color: var(--fr-main-color);
  line-height: var(--fr-main-lh);
}

.wrapper {
  min-height: 100dvh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.pt {
  padding-top: 80px !important;
}

.pb {
  padding-bottom: 80px !important;
}

.pt-md {
  padding-top: 40px !important;
}

.pb-md {
  padding-bottom: 40px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.ibg {
  --pb: 0%;
  position: relative;
  padding-bottom: var(--pb);
}

.ibg img,
.ibg video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.ratio {
  --ratio: 1/1;
  aspect-ratio: var(--ratio);
  overflow: hidden;
}

.ratio img,
.ratio video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.title {
  font-weight: 600;
  color: inherit;
  text-transform: capitalize;
  line-height: 120%;
  font-size: 48px;
}

.title--md {
  line-height: 100%;
  letter-spacing: -0.02em;
  font-size: 48px;
}

.title--sm {
  line-height: 94%;
  letter-spacing: -0.02em;
  text-transform: none;
  font-size: 40px;
}

.title span {
  color: var(--fr-green);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-size: 13px;
  height: 13px;
  line-height: 1;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--fr-green);
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.badge {
  min-width: 140px;
  font-weight: 500;
  line-height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 27px;
  background: rgba(var(--fr-black-rgb), 0.4);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border-radius: 999px;
  color: var(--fr-white);
}

.project {
  position: relative;
  --animate-duration: 1s;
  max-height: 96px;
  overflow: hidden;
  -webkit-transition: all var(--animate-duration) ease 0s;
  transition: all var(--animate-duration) ease 0s;
  cursor: pointer;
  border-top: 1px solid var(--fr-gray-800);
}

.project:last-child {
  border-bottom: 1px solid var(--fr-gray-800);
}

.project__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding: 20px 0;
  cursor: inherit;
}

.project__left {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 436px;
          flex: 1 1 436px;
  padding: 3px 0;
}

.project__col {
  display: -ms-grid;
  display: grid;
  gap: 16px;
}

.project__name {
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--fr-gray-800);
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: color 0.3s ease 0s, min-height 0.4s ease 0s;
  transition: color 0.3s ease 0s, min-height 0.4s ease 0s;
  font-size: 24px;
}

.project__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 900px;
          flex: 0 1 900px;
  position: relative;
}

.project__right .ibg {
  --pb: 56px;
  height: 56px;
  border: 1px solid var(--fr-gray-900);
  border-radius: 24px;
  overflow: hidden;
  -webkit-transition: padding var(--animate-duration) ease 0s, height var(--animate-duration) ease 0s;
  transition: padding var(--animate-duration) ease 0s, height var(--animate-duration) ease 0s;
}

.project__right .ibg img {
  -webkit-transition: -webkit-transform var(--animate-duration) ease 0s;
  transition: -webkit-transform var(--animate-duration) ease 0s;
  transition: transform var(--animate-duration) ease 0s;
  transition: transform var(--animate-duration) ease 0s, -webkit-transform var(--animate-duration) ease 0s;
  border-radius: 24px;
  height: 104%;
}

.project__right .ibg--lg img {
  height: 104.75%;
}

.project__right .badge {
  position: absolute;
  z-index: 2;
  top: 8px;
  left: 8px;
}

.cursor {
  position: fixed;
  z-index: 4;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  height: 42px;
  padding: 16px 20px;
  border-radius: 999px;
  background: rgba(var(--fr-white-rgb), 0.16);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: var(--fr-white);
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.cursor::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid var(--fr-primary);
  border-left: 6px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.details {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.details__item {
  display: -ms-grid;
  display: grid;
  gap: 16px;
}

.details__title {
  color: var(--fr-gray-600);
  font-weight: 500;
  line-height: 120%;
  font-size: 8px;
}

.details__text {
  font-weight: 500;
  line-height: 120%;
  color: var(--fr-gray-800);
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 10px;
}

.anim-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}

.anim-card__line {
  width: 1px;
  background-color: var(--fr-gray-800);
  height: 64px;
}

.anim-card:nth-child(2) .anim-card__line {
  height: 84px;
}

.anim-card:last-child .anim-card__line {
  height: 104px;
}

.anim-card__body {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--fr-gray-800);
  background-color: var(--fr-black);
  border-radius: 24px;
  width: 100px;
}

.anim-card__body.active .anim-card__item--bottom {
  left: 50%;
}

.anim-card__body.active .anim-card__item--top {
  left: -150%;
}

.anim-card__body {
  height: 100px;
}

.anim-card__item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-transition: left 0.5s ease 0s;
  transition: left 0.5s ease 0s;
}

.anim-card__item--bottom {
  left: 150%;
  z-index: 2;
}

.anim-card__icon img {
  width: 120px;
  height: 100%;
  width: 50px;
}

.anim-card__text {
  font-weight: 500;
  font-size: 28px;
  line-height: 110%;
  text-align: center;
  font-size: 12px;
}

.bt {
  --fr-bt-height: 44px;
  --fr-bt-padding-y: 16px;
  --fr-bt-padding-x: 24px;
  --fr-bt-font-size: 16px;
  --fr-bt-font-weight: 500;
  --fr-bt-line-height: var(--fr-main-lh);
  --fr-bt-border: 1px solid transparent;
  --fr-bt-color: var(--fr-black);
  --fr-bt-rounded: 999px;
  --fr-bt-transition: opacity 0.3s ease-out, background 0.3s ease-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px;
  font-size: var(--fr-bt-font-size);
  line-height: var(--fr-bt-line-height);
  font-weight: var(--fr-bt-font-weight);
  height: var(--fr-bt-height);
  padding: var(--fr-bt-padding-y) var(--fr-bt-padding-x);
  border: var(--fr-bt-border);
  border-radius: var(--fr-bt-rounded);
  -webkit-transition: var(--fr-bt-transition);
  transition: var(--fr-bt-transition);
  color: var(--fr-bt-color);
  text-decoration: none;
  cursor: pointer;
}

.bt.disabled,
.bt:disabled {
  background-color: var(--fr-gray-600);
  pointer-events: none !important;
  border-color: transparent;
  color: var(--fr-white);
}

.bt-primary {
  background: var(--fr-primary);
  border-width: 0;
}

.bt-primary:active {
  opacity: 0.85;
}

.bt-icon {
  --size-icon: 14px;
  --size: 40px;
  color: var(--fr-white);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: var(--size-icon);
  text-transform: uppercase;
  width: var(--size);
  height: var(--size);
  background: transparent;
  padding: 0;
  position: relative;
  border: 1px solid var(--fr-gray-700);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out 0s, opacity 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s;
  transition: color 0.2s ease-out 0s, opacity 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s;
  transition: transform 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-out 0s;
  transition: transform 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s;
}

.bt-icon:disabled,
.bt-icon .disabled {
  background-color: #f4f4f4;
  pointer-events: none;
  color: #d0d0d0;
}

.bt-burger {
  display: none;
}

.header {
  padding: 32px 0;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 21;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.header__logo {
  position: relative;
  z-index: 4;
}

.header__logo img {
  width: 100%;
  height: 38px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__link {
  position: relative;
  font-weight: 500;
  -webkit-transition: opacity 0.3s ease 0s, color 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, color 0.3s ease 0s;
}

.nav__link::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--fr-white);
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.nav__link.active {
  color: var(--fr-primary);
}

.fullscreen {
  min-height: 100vh;
  min-height: 100dvh;
  padding-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  -webkit-transition: min-height 0.2s linear;
  transition: min-height 0.2s linear;
}

.fullscreen__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.fullscreen__bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 184, 184, 0)), to(var(--fr-black)));
  background: linear-gradient(180deg, rgba(221, 184, 184, 0) 0%, var(--fr-black) 100%);
  z-index: 1;
}

.fullscreen__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullscreen__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullscreen__head {
  margin-left: 105px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 375px;
}

.fullscreen__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.fullscreen__wrap {
  display: -ms-grid;
  display: grid;
  gap: 9px;
  justify-items: start;
  -ms-flex-line-pack: end;
      align-content: end;
}

.fullscreen__logo {
  height: 26px;
}

.fullscreen__logo img {
  width: 100%;
  height: 100%;
}

.fullscreen__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.fullscreen__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 325px;
          flex: 0 1 325px;
  font-weight: 500;
}

.anim {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.anim__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.anim__titles {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 64px 0;
}

.anim__titles.active .anim__title:first-child {
  opacity: 0;
  -webkit-transform: translateY(150%);
      -ms-transform: translateY(150%);
          transform: translateY(150%);
}

.anim__titles.active .anim__title:last-child {
  opacity: 1;
}

.anim__titles.active .anim__title--anim {
  opacity: 1;
  -webkit-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.anim__title {
  --color: #3f3f3f;
  color: var(--color);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.anim__title--anim {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  -webkit-transform: translateX(-50%) scale(0.5);
      -ms-transform: translateX(-50%) scale(0.5);
          transform: translateX(-50%) scale(0.5);
  opacity: 0;
}

.anim__cards {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  gap: 13px;
}

.work__title {
  margin-bottom: 64px;
  vertical-align: top;
}

.work__wrap {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 375px) {
  .title {
    font-size: calc(48px + 72 * (100vw - 375px) / ((1065)));
  }

  .title--md {
    font-size: calc(48px + 48 * (100vw - 375px) / ((1065)));
  }

  .title--sm {
    font-size: calc(40px + 48 * (100vw - 375px) / ((1065)));
  }

  .project__name {
    font-size: calc(24px + 24 * (100vw - 375px) / ((1065)));
  }

  .details__title {
    font-size: calc(8px + 6 * (100vw - 375px) / ((1065)));
  }

  .details__text {
    font-size: calc(10px + 14 * (100vw - 375px) / ((1065)));
  }

  .anim-card__body {
    width: calc(100px + 140 * (100vw - 375px) / ((1065)));
  }

  .anim-card__body {
    height: calc(100px + 140 * (100vw - 375px) / ((1065)));
  }

  .anim-card__icon img {
    width: calc(50px + 70 * (100vw - 375px) / ((1065)));
  }

  .anim-card__text {
    font-size: calc(12px + 16 * (100vw - 375px) / ((1065)));
  }
}

@media (min-width: 767.98px) {
  .details {
    gap: calc(20px + 20 * (100vw - 767.98px) / ((672.02)));
  }

  .anim-card__line {
    height: calc(64px + 76 * (100vw - 767.98px) / ((672.02)));
  }

  .anim-card:nth-child(2) .anim-card__line {
    height: calc(84px + 121 * (100vw - 767.98px) / ((672.02)));
  }

  .anim-card:last-child .anim-card__line {
    height: calc(104px + 166 * (100vw - 767.98px) / ((672.02)));
  }

  .anim__cards {
    gap: calc(13px + 51 * (100vw - 767.98px) / ((672.02)));
  }
}

@media screen and (min-width: 768px) {
  .project.open .ibg {
    --pb: 50.9%;
    height: 100%;
  }

  .project.open .ibg img {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
  }

  .project.open .project__name {
    color: var(--fr-white);
  }

  .project.open .details__text {
    color: var(--fr-white);
  }
}

@media (min-width: 1023.98px) {
  .fullscreen__head {
    max-width: calc(375px + 320 * (100vw - 1023.98px) / ((416.02)));
  }
}

@media (min-width: 1360px) {
  .title {
    font-size: 120px;
  }

  .title--md {
    font-size: 96px;
  }

  .title--sm {
    font-size: 88px;
  }

  .project__name {
    font-size: 48px;
  }

  .details {
    gap: 40px;
  }

  .details__title {
    font-size: 14px;
  }

  .details__text {
    font-size: 24px;
  }

  .anim-card__line {
    height: 140px;
  }

  .anim-card:nth-child(2) .anim-card__line {
    height: 205px;
  }

  .anim-card:last-child .anim-card__line {
    height: 270px;
  }

  .anim-card__body {
    width: 240px;
  }

  .anim-card__body {
    height: 240px;
  }

  .anim-card__icon img {
    width: 120px;
  }

  .anim-card__text {
    font-size: 28px;
  }

  .fullscreen__head {
    max-width: 695px;
  }

  .anim__cards {
    gap: 64px;
  }
}

@media screen and (max-width: 1023.98px) {
  body.lock-tablet {
    overflow: hidden;
    -ms-touch-action: none;
        touch-action: none;
  }

  .bt-burger {
    width: 48px;
    height: 48px;
    gap: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 4;
  }

  .bt-burger::before,
  .bt-burger::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--fr-white);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .bt-burger.active::before {
    -webkit-transform: translateY(4px) rotate(-45deg);
        -ms-transform: translateY(4px) rotate(-45deg);
            transform: translateY(4px) rotate(-45deg);
  }

  .bt-burger.active::after {
    -webkit-transform: translateY(-4px) rotate(45deg);
        -ms-transform: translateY(-4px) rotate(45deg);
            transform: translateY(-4px) rotate(45deg);
  }

  .nav::before {
    content: "";
    width: 100%;
    height: 108px;
    position: absolute;
    left: -100%;
    top: 0;
    background-color: var(--fr-black);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 3;
  }

  .nav.active .nav__body {
    left: 0;
  }

  .nav.active::before {
    left: 0;
  }

  .nav__body {
    position: absolute;
    width: 100%;
    height: 100dvh;
    height: 100vh;
    left: -100%;
    top: 0;
    z-index: 2;
    overflow: auto;
    background-color: var(--fr-black);
    padding: 116px 24px 24px 24px;
    text-align: center;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    grid: 32px;
  }

  .nav__link {
    font-size: 28px;
  }

  .nav .bt {
    margin-top: 72px;
  }

  .fullscreen__head {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .fullscreen__row {
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
  }

  .fullscreen__text {
    margin: 24px 0px 0px 0px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media screen and (max-width: 767.98px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .pt {
    padding-top: 40px !important;
  }

  .pb {
    padding-bottom: 40px !important;
  }

  .badge {
    font-size: 10px;
    padding: 8px 14px;
    font-size: 10px;
    background: rgba(var(--fr-white-rgb), 0.16);
    min-width: unset;
  }

  .project:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .project {
    margin: 0 -24px;
    display: block;
    max-height: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .project__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    padding: 20px 24px;
  }

  .project__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .project__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
    justify-items: space-between;
  }

  .project__name {
    color: var(--fr-white);
    min-height: unset;
  }

  .project__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .project__right .ibg {
    --pb: 56%;
    border-radius: 12px;
    height: auto;
  }

  .project__right .ibg img {
    border-radius: 12px;
  }

  .project__right .ibg--lg img {
    height: 100%;
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
  }

  .cursor {
    display: none;
  }

  .details {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 16px;
  }

  .details__item {
    gap: 6px;
    -ms-flex-line-pack: start;
        align-content: start;
  }

  .details__text {
    font-weight: 400;
    color: var(--fr-white);
  }

  .anim-card__body {
    border-radius: 10px;
  }

  .anim-card__item {
    gap: 10px;
  }

  .header {
    padding: 20px 0;
  }

  .fullscreen.page--anim {
    min-height: unset;
  }

  .fullscreen__text {
    font-size: 14px;
    line-height: 120%;
  }

  .anim__titles {
    margin: 24px 0;
  }

  .work__title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .work__title {
    max-width: 300px;
  }
}

@media (any-hover: hover) {
  .project.open:hover .cursor {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  .bt.disabled:hover,
  .bt:disabled:hover {
    background-color: var(--fr-gray-600);
    pointer-events: none !important;
  }

  .bt-primary:hover {
    opacity: 0.75;
  }

  .bt-icon:hover {
    opacity: 0.75;
  }

  .nav__link:hover {
    opacity: 0.85;
  }

  .nav__link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}