@use "../vars/vars" as *;
@use "../mixins/breakpoints" as *;
// ===== Кнопки =====
// ===== Переменние (глобальние настройки в _vars.scss) =====
.bt {
	--fr-bt-height: #{$bt-ipt-height};
	--fr-bt-padding-y: #{$bt-ipt-padding-y};
	--fr-bt-padding-x: #{$bt-ipt-padding-x};
	--fr-bt-font-size: 16px;
	--fr-bt-font-weight: 500;
	--fr-bt-line-height: var(--fr-main-lh);
	--fr-bt-border: 1px solid transparent;
	--fr-bt-color: var(--fr-black);
	--fr-bt-rounded: #{$bt-ipt-rounded};
	--fr-bt-transition: opacity 0.3s ease-out, background 0.3s ease-out;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	grid-gap: 20px;
	font-size: var(--fr-bt-font-size);
	line-height: var(--fr-bt-line-height);
	font-weight: var(--fr-bt-font-weight);
	height: var(--fr-bt-height);
	padding: var(--fr-bt-padding-y) var(--fr-bt-padding-x);
	border: var(--fr-bt-border);
	border-radius: var(--fr-bt-rounded);
	transition: var(--fr-bt-transition);
	color: var(--fr-bt-color);
	text-decoration: none;
	cursor: pointer;

	&.disabled,
	&:disabled {
		background-color: var(--fr-gray-600);
		pointer-events: none !important;
		border-color: transparent;
		color: var(--fr-white);
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--fr-gray-600);
				pointer-events: none !important;
			}
		}
	}
}
// ===== Цвета кнопок по предназначению =====
.bt-primary {
	background: var(--fr-primary);
	border-width: 0;
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.75;
		}
	}
	&:active {
		opacity: 0.85;
	}
}

// ===== Кастомнаие кнопки =====
.bt-icon {
	--size-icon: 14px;
	--size: 40px;
	color: var(--fr-white);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: var(--size-icon);
	text-transform: uppercase;
	width: var(--size);
	height: var(--size);
	background: transparent;
	padding: 0;
	position: relative;
	border: 1px solid var(--fr-gray-700);
	border-radius: 50%;
	cursor: pointer;
	transition:
		transform 0.2s ease-out 0s,
		color 0.2s ease-out 0s,
		opacity 0.2s ease-out 0s;
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.75;
		}
	}
	&:disabled,
	.disabled {
		background-color: #f4f4f4;
		pointer-events: none;
		color: #d0d0d0;
	}
}
.bt-burger {
	display: none;
	@include breakpoint($tablet) {
		width: 48px;
		height: 48px;
		gap: 6px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		z-index: 4;
		&::before,
		&::after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: var(--fr-white);
			transition: transform 0.3s ease 0s;
		}

		&.active {
			&::before {
				transform: translateY(4px) rotate(-45deg);
			}
			&::after {
				transform: translateY(-4px) rotate(45deg);
			}
		}
	}
}
