.dc-animate {
    position: fixed;
    z-index: 0;
    pointer-events: none;
    animation: blur 6s ease-out infinite alternate;
    width: var(--width);
    transition: transform 0.3s ease 0s;

    img {
        width: 100%;
    }
    &.dc-animate-left {
        width: 31vw;
        left: -14vw;
        top: 165px;
        opacity: 0;
        animation-delay: 0s;
    }
    &.dc-animate-right {
        width: 41vw;
        right: -15.5%;
        top: 100%;
        animation-delay: 0.1s;
    }
    @keyframes blur {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
        50% {
            transform: rotate(180deg);
        }
    }
}
