@use "../vars/vars" as *;
@use "sass:map";
@use "../mixins/breakpoints" as *;

// =============== Отступы справа и слева контейнера ============
$gap: (
	pc: 40px,
	tablet: 40px,
	mobile: 24px,
	mobileSm: 24px
);

// Переменная $maxWidthContainer находиться в глобальних настройках

.container {
	width: 100%;
	max-width: calc((var(--fr-max-width-container) * 1px) + (map.get($gap, pc) * 2));
	margin: 0 auto;
	padding-left: map.get($gap, pc);
	padding-right: map.get($gap, pc);
	@include breakpoint($mobile) {
		padding-left: map.get($gap, mobile);
		padding-right: map.get($gap, mobile);
	}
}

.container-fluid {
	max-width: unset;
}
