@use "../vars/vars" as *;
@use "../mixins/breakpoints" as *;
@use "../mixins/resources" as *;
@use "null";
@use "container";

body {
	font-family: var(--fr-font-famaly);
	font-size: var(--fr-font-size);
	background-color: var(--fr-bg-body);
	color: var(--fr-main-color);
	line-height: var(--fr-main-lh);
	// Скролл заблокирован
	&.lock-tablet {
		@include breakpoint($tablet) {
			overflow: hidden;
			touch-action: none;
		}
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100dvh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Стили для настройки отступпов секций
.pt {
	padding-top: 80px !important;
	@include breakpoint($mobile) {
		padding-top: 40px !important;
	}
}
.pb {
	padding-bottom: 80px !important;
	@include breakpoint($mobile) {
		padding-bottom: 40px !important;
	}
}
.pt-md {
	padding-top: 40px !important;
}
.pb-md {
	padding-bottom: 40px !important;
}
.pt-0 {
	padding-top: 0 !important;
}
.pb-0 {
	padding-bottom: 0 !important;
}
