<div class="project {{card.class | default('')}}" data-js-project>
	<a href="#" class="project__card">
		<div class="project__cursor cursor" data-js-cursor>View Case</div>
		<div class="project__left">
			<div class="project__col" >
				<h3 class="project__name">{{card.name}}</h3>
				<ul class="project__details details" data-move-to=".project__right" data-breakpoint="768">
					<li class="details__item">
						<span class="details__title">Industry</span>
						<span class="details__text">IT Services & Consultinig</span>
					</li>
					<li class="details__item">
						<span class="details__title">Technical Stack</span>
						<span class="details__text">Storyblok <br> Next.JS <br> Vercel</span>
					</li>
					<li class="details__item">
						<span class="details__title">Scope of Work</span>
						<span class="details__text">Design <br> Website development <br> Maintenance</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="project__right">
			<div class="ibg {{card.imgClass | default('')}}">
				<img src="{{card.img}}" alt="{{card.altImg}}">
			</div>
			<span class="badge" data-move-to=".project__col" data-breakpoint="768">{{card.badge}}</span>
		</div>
	</a>
</div>