<div class="anim-card">
	<div class="anim-card__line"></div>
	<div class="anim-card__body">
		<div class="anim-card__item anim-card__item--top">
			<div class="anim-card__icon"><img src="{{card.img1}}" alt="{{card.text1}}"></div>
			<div class="anim-card__text">{{card.text1}}</div>
		</div>
		<div class="anim-card__item anim-card__item--bottom">
			<div class="anim-card__icon"><img src="{{card.img2}}" alt="{{card.text2}}"></div>
			<div class="anim-card__text">{{card.text2}}</div>
		</div>
	</div>
</div>