//<ПЕРЕМЕННЫЕ>========================================================
//<Шрифт по умолчанию>
$fontFamily: "InterDisplay", sans-serif;
$fontSize: 16px;
$main-lh: 120%;
//</Шрифт по умолчанию>

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1360;
// Брейк-поинты
$pc: $maxWidthContainer; // ПК, ноутбуки
$tablet: 1023.98; // Планшеты
$mobile: 767.98; // Телефоны L
$mobileSmall: 479.98; // Телефоны S
$mobileSmallX: 375; // Телефоны SX
//Цвета
$black: #000000;
$gray-600: #727272;
$gray-700: #3b3b3b;
$gray-800: #2c2c2c;
$gray-900: #171717;
$white: #ffffff;

$black-rgb: 0, 0, 0;
$white-rgb: 255, 255, 255;

$green: #00e56d;

$primary: $green;

//Цвета

$mainColor: $white;
$bg-body: $black;

// Глобальние переменные для кнопок и полей ввода
$bt-ipt-height: 44px;
$bt-ipt-padding-y: 16px;
$bt-ipt-padding-x: 24px;
$bt-ipt-rounded: 999px;
// Глобальние переменные для кнопок и полей ввода

//</ПЕРЕМЕННЫЕ>======================================================
