<nav class="header__nav nav">
	<div class="nav__body">
		{% set links = ['Home', 'Services', 'Portfolio', 'About', 'Blog'] %}
		<ul class="nav__list">
			{% for link in links %}
				<li class="nav__item">
					<a href="#" class="nav__link">{{link}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>