@use "../vars/vars" as *;
@use "../mixins/breakpoints" as *;
@use "../mixins/resources" as *;

.project {
	position: relative;
	--animate-duration: 1s;
	max-height: 96px;
	overflow: hidden;
	transition: all var(--animate-duration) ease 0s;
	cursor: pointer;
	&.open {
		@media screen and (min-width: 768px) {
			.ibg {
				--pb: 50.9%;
				height: 100%;
			}
			.project__name {
				color: $white;
			}
			.details__text {
				color: $white;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				.cursor {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
	&:last-child {
		border-bottom: 1px solid $gray-800;
	}

	@include breakpoint($mobile) {
		margin: 0 -24px;
		display: block;
		max-height: none;
	}

	// .project__card

	&__card {
		display: flex;
		gap: 24px;
		padding: 20px 0;
		border-top: 1px solid $gray-800;
		cursor: inherit;
		@include breakpoint($mobile) {
			flex-direction: column;
			gap: 16px;
			padding: 20px 24px;
		}
	}

	// .project__left

	&__left {
		position: relative;
		flex: 1 1 436px;
		padding: 8px 0;
		@include breakpoint($mobile) {
			flex: 0 0 auto;
		}
	}

	// .project__col

	&__col {
		display: grid;
		gap: 16px;
		@include breakpoint($mobile) {
			flex: 1 1 auto;
			grid-template-columns: 1fr auto;
			justify-items: space-between;
		}
	}

	// .project__name

	&__name {
		font-weight: 500;
		font-size: 48px;
		line-height: 100%;
		text-transform: capitalize;
		color: $gray-800;
		min-height: 56px;
		transition:
			color 0.3s ease 0s,
			min-height 0.4s ease 0s;
		@include adaptiv-value-to(font-size, 48, 24, $mobile);
		@include breakpoint($mobile) {
			color: $white;
			min-height: unset;
		}
	}

	// .project__right

	&__right {
		flex: 0 1 900px;
		position: relative;
		@include breakpoint($mobile) {
			flex: 0 0 auto;
		}
		.ibg {
			--pb: 56px;
			height: 56px;
			transition:
				padding var(--animate-duration) ease 0s,
				height var(--animate-duration) ease 0s;
			overflow: hidden;
			border: 1px solid $gray-900;
			border-radius: 24px;
			display: block;
			@include breakpoint($mobile) {
				--pb: 56%;
				border-radius: 12px;
				height: auto;
			}
			img {
				border-radius: 24px;
				@include breakpoint($mobile) {
					border-radius: 12px;
				}
			}
		}
		.badge {
			position: absolute;
			z-index: 2;
			top: 8px;
			left: 8px;
		}
	}
}

.cursor {
	position: fixed;
	z-index: 4;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	grid-gap: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	height: 42px;
	padding: 16px 20px;
	border-radius: 999px;
	background: rgba($white, 0.16);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	color: $white;
	pointer-events: none;
	opacity: 0;
	transform: scale(0);
	transition:
		opacity 0.3s ease 0s,
		transform 0.3s ease 0s;
	&::before {
		content: "";
		width: 0;
		height: 0;
		border-top: 6px solid $primary;
		border-left: 6px solid transparent;
		position: absolute;
		top: 0;
		right: 0;
		transition: transform 0.3s ease 0s;
	}
	@include breakpoint($mobile) {
		display: none;
	}
}
.details {
	display: grid;
	@include adaptiv-value-to(gap, 40, 20, $mobile);
	@include breakpoint($mobile) {
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
		margin-top: 16px;
	}
	// .details__item

	&__item {
		display: grid;
		gap: 16px;
		@include breakpoint($mobile) {
			gap: 6px;
			align-content: start;
		}
	}

	// .details__title

	&__title {
		color: $gray-600;
		font-weight: 500;
		line-height: 120%;
		@include adaptiv-value-to(font-size, 14, 8, $mobile);
	}

	// .details__text

	&__text {
		font-weight: 500;
		line-height: 120%;
		color: $gray-800;
		transition: color 0.3s ease 0s;
		@include adaptiv-value-to(font-size, 24, 10, $mobile);
		@include breakpoint($mobile) {
			font-weight: 400;
			color: $white;
		}
	}
}
