{% extends "html/layout/layout.njk" %}

{% block content %}
	<main class="page">
		{% include 'html/sections/_hero.njk' %}
		{% include 'html/sections/_anim-page.njk' %}
		{% include 'html/sections/_work.njk' %}
	</main>
{% endblock %}