<!DOCTYPE html>
<html lang="en">
	{% set title = 'Home' %}
	{% include 'html/_head.njk' %}

	<body>
		<div class="wrapper">
			{% include 'html/components/_header.njk' %}
			<main class="page">

				{# <h2>List</h2> #}
				{# {% set names = [
					'VAsia',
					'Dima',
					'Olia',
					'julia',
					'Kolia',
					'xxx',
					'dlsgkldkgls'
				] %} #}
				{# <ul>
					{% for name in names %}
						<li>{{name}}</li>
					{% endfor %}
				</ul> #}
				{% include 'html/sections/hero.njk' %}
			</main>
			<footer style="background: gray;">
				as+
			</footer>
		</div>

		{% include 'html/_js.njk' %}
	</body>

</html>