<section class="fullscreen pb-md">
	<div class="fullscreen__bg ibg">
		<img src="@img/hero-bg.jpg" alt="">
	</div>
	<div class="fullscreen__container container">
		<div class="fullscreen__body">
			<div class="fullscreen__head">
				<h1 class="fullscreen__title title title--sm">
				We build Composable Content Systems. <span>Fast and Scalable.</span>
				</h1>
				<p class="fullscreen__text fullscreen__text--sm">From Modular Marketing Websitesto AI-enriched content editing experiences. Experts in CMS, eCommerce and SEO.</p>
			</div>
			<div class="fullscreen__row">
				<div class="fullscreen__wrap">
					<div class="fullscreen__logo">
						<img src="@img/rating-logo.svg" alt="logo rating">
					</div>
					{% include 'html/components/_rating.njk' %}
				</div>
				<p class="fullscreen__text">From Modular Marketing Websitesto AI-enriched content editing experiences. Experts in CMS, eCommerce and SEO.</p>
				{% include 'html/components/btns/_social-links.njk' %}
			</div>
		</div>
	</div>
</section>