<section class="work pb-md pt-md">
	<div class="work__container container">
		<div class="work__body">
			<h2 class="work__title title title--md">
				Featured work
			</h2>
			{% set cards = [
				{
					name: 'NotSoApe',
					badge: 'CMS',
					img: "@img/work-2.jpg",
					altImg: "image work whith iphone",
					class: ""
				}, {
					name: 'EasyPark',
					badge: 'Ecommerce',
					img: "@img/work-1.jpg",
					altImg: "image work whith note book",
					class: "open"
				}, {
					name: 'GitNation',
					badge: 'Mobile App',
					img: "@img/work-3.jpg",
					altImg: "image work whith iphone",
					class: ""
				}, {
					name: 'Secret Escapes',
					badge: 'Ecommerce',
					img: "@img/work-4.jpg",
					altImg: "image work whith tablet",
					class: ""
				}, {
					name: 'Caleffi',
					badge: 'Web Design',
					img: "@img/work-5.jpg",
					altImg: "image work whith note book",
					class: ""
				}
			] %}
			<div class="work__wrap">
				{% for card in cards %}
					{% include 'html/components/cards/_card-project.njk' %}
				{% endfor %}
				{# ssssssssssssssssssssssssssssssss #}
				<div class="project" data-js-project >
					<div class="project__card">
						<div class="project__left">
							<div class="project__col">
								<h3 class="project__name">NAme NAme More</h3>
								<ul class="project__details details">
									<li class="details__item">
										<span class="details__title">Industry</span>
										<span class="details__text">IT Services & Consultinig</span>
									</li>
									<li class="details__item">
										<span class="details__title">Technical Stack</span>
										<span class="details__text">Storyblok <br> Next.JS <br> Vercel</span>
									</li>
									<li class="details__item">
										<span class="details__title">Scope of Work</span>
										<span class="details__text">Design <br> Website development <br> Maintenance</span>
									</li>
									<li class="details__item">
										<span class="details__title">Scope of Work</span>
										<span class="details__text">Design <br> Website development <br> Maintenance</span>
									</li>
									<li class="details__item">
										<span class="details__title">Scope of Work</span>
										<span class="details__text">Design <br> Website development <br> Maintenance</span>
									</li>
									<li class="details__item">
										<span class="details__title">Scope of Work</span>
										<span class="details__text">Design <br> Website development <br> Maintenance</span>
									</li>
									<li class="details__item">
										<span class="details__title">Scope of Work</span>
										<span class="details__text">Design <br> Website development <br> Maintenance</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="project__right">
							<div class="ibg">
								<img src="@img/work-3.jpg" alt="{{card.altImg}}">
							</div>
							<span class="badge">badge</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>